/*  your css code here. If applicable */
.grid-container {
  display: grid;
  grid-template-columns:  repeat(auto-fill, 210px) ;
  grid-auto-columns:min-content;
	gap: 10px; /*justify-content: center; Add some spacing between grid items */
}

/* Style each grid item */
.grid-item {
  background-color: lightgray;
  height: 150px;
  width: 200px;
  border-radius: 5px;
  font-size: 40px;
  display: flex;
  align-items: center; /* Center the content vertically */
  justify-content: center; /* Center the content horizontally */
}